:host([theme~="window-unset-width"]) [part="overlay"] {
	max-width: unset;
	overflow-x: hidden;
 }
      
:host([theme~="window-unset-height"]) [part="overlay"] {
	max-height: unset;
	overflow-x: hidden;
}
      
:host([theme~="window-full-width"]) [part="overlay"] {
	max-width: 100% !important;
	width: 100%;
	overflow-x: hidden;
	display: flex;
}
      
:host([theme~="window-full-height"]) [part="overlay"] {
	max-height: 100% !important;
	height: 100%;
	overflow-y: hidden;
	display: flex;
}
      
:host([theme~="window-full-width"]) [part="content"] {
	width: 100%;
}
      
:host([theme~="window-scrollable"]) [part="overlay"] {
	display: flex;
}
